@import '../../variables.scss';

.categories {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  
  @include media(576px) {
    max-width: 450px;
    flex-direction: row;
  }
  
  @include media(876px) {
    width: 70%;
    margin-bottom: 0;
  }
}
