@import '../../../variables.scss';

.input {
  font-family: $font;
  border: 2px solid $lightgrey;
  outline: none;
  font-size: 1rem;
  padding: 10px;
  border-radius: 2px;
  min-width: 300px;
  transition: border-color 150ms ease;

  &:focus {
    border-color: $accent;
  }
}
